[Desktop Entry]
Comment=Start Monero wallet
Exec=monero-wallet-gui
Type=Application
Name=Monero GUI
GenericName[en_US]=Monero Wallet
GenericName=Monero Wallet
Name[en_US]=Monero Wallet
Name=Monero Wallet
Icon=monero
Keywords=money;anonymity;privacy;cryptocurrency;Finance;Network;
