[Desktop Entry]
Comment=Start Monero wallet
Exec=monero-wallet-gui
Type=Application
Name=Monero GUI
Icon=/usr/share/pixmaps/monero-symbol-on-white-480.png
Keywords=money;anonymity;privacy;cryptocurrency
