[Desktop Entry]
Comment=Start Monero wallet
Exec=monero-wallet-gui
Type=Application
Name=Monero GUI
Icon=monero
Keywords=money;anonymity;privacy;cryptocurrency
